@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter, 'Arial Narrow Bold', sans-serif;;
}
   header {
    
   }
    header img{
        margin:80px 0px 0px 150px;
    }
    nav {
        
    }
    nav ul {
        
        display: flex;
        list-style: none;
        justify-content: flex-end;
        margin:-50px 160px 0px 0px;
    }
    nav ul li {
        margin:10px 20px;
    }
    nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color:hsl(330, 1%, 50%);
     
    }
    main img {
        width:1130px;
        height: 400px;
        object-fit: cover;
        margin:40px 0 0 150px;
    }

    main h1 {
        font-size: 50px;
        margin: 25px 0 0 150px;
        width:300px;
        
     }
    main {
       
    }
    main p {
     
        font-size:15px;
        color:hsl(330, 1%, 50%);
        margin:-180px 0px 0px 510px;
        width: 340px;
        line-height: 25px;
        
     }
    main button {
        
        width:200px;
        height: 60px;
        margin:20px 0px 0px 510px;
        font-size: 22px;
        text-transform: uppercase;
        background-color: hsl(5, 85%, 63%);
        color: #FFF;
        cursor: pointer;
        border: none;
     }
    main button:hover{
        background-color:  hsl(240, 100%, 5%);
     }
     aside {
        width:420px;
        height: 610px;
        background-color:  hsl(240, 100%, 5%);
        color:#FFF;
        margin: -609px 10px 0 1320px;
     }

    
     aside h2 {
        color:hsl(35, 77%, 62%);
        padding: 30px 0 0 30px;
        font-size: 40px;
     }
     aside h3 {
        margin: 50px 0 0 30px;
        letter-spacing: 2px;

     }
     aside p {
        margin:10px 0 0 30px;
        color:hsl(330, 1%, 50%);
        width: 310px;
        line-height: 24px;
    

     }
     aside div {
        background-color:hsl(330, 1%, 50%); 
        margin:40px 0 0 30px;
        width: 350px;
        height:1px;
     }
     article {
        margin:30px 0 0 140px;
        display: flex;
       
     }
     article img {
        width: 100px;
        height: 140px;
     }
     article .number{
        font-size: 30px;
        font-weight: bold;
        color:hsl(330, 1%, 50%); 
        margin:0 0 0 20px;
     } 
     article div{
     display: flex;
     }
    
    .middle_article{
   margin:0 210px;
  }
   .article_paragraph {
      color:hsl(330, 1%, 50%);;
      margin:90px 0 0 -300px;
      width: 220px;
       
   }
   .header_article{
      font-weight: 700;
      font-size:20px;
      width: 300px;
      margin:50px 0 0 -32px;
   }
/* Hamburger menu */
/* .navbar{
  background-color: hsla(240, 100%, 5%, 0.007);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
} */
.nav-menu{
   display:flex;
   justify-content: space-between;
   align-items: left;
   gap:10px;
}
.nav-link{

}
 li {
   list-style: none;
 }
 a {
   color:white;
   text-decoration: none;
 }
 .nav-link {
   color:hsl(240, 100%, 5%);

 }                                                    
 .hamburger{
   display: none;
   cursor: pointer;


    
 }

  /* mobile */
  @media (max-width: 375px)
  {
   
  main img:nth-child(1){
      display: none;
   }
  header img {
   margin:15px 36px;
 }
 .pic_sec{
   width: 300px;
   height: 330px;
   margin:0 36px;
 }
   /* Hamburger menu */
   .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      color:#FFF;
   
    }
   .hamburger{
      display: block;
   
   }
   .hamburger.active .bar:nth-child(2){
      opacity: 0;
   }
   .hamburger.active .bar:nth-child(1)
   {
      transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
   }
   .nav-menu{
      position: fixed;
      left:100%;
      top:50px;
      gap:0;
      flex-direction: column;
      background-color: #FFF;
      width: 90%;
      border: 2px solid black;
      transition: .3s;
   }
   .nav-link {
    
   }
   .nav-menu.active{
      left: 20%;
      height:100%;
   }
   nav ul {
      display: none;
     }
  }

  
/* footer */
    .attribution {
      margin-top: 30px;
        font-size: 11px;
        text-align: center;
      }
    .attribution a {
        color: hsl(228, 45%, 44%);
      }